@charset "UTF-8";
.body {
	background-image: url(https://storage.googleapis.com/webpractice/polka-dots.png);
}
.container{
	margin: auto;
	width: 960px;
}
.nav{
/* Box-model */
	height: 67px;
	width: 100%;
	
  /* Typography */
  color: #eee;
  text-align: left;

  /* Visual */
  background: #ffffff;
	border-bottom: 3px solid;
	border-bottom-color: #cccccc;
	clear: both;
}
.primary_header {
	background-color: #4aaaa5;
	float: left;
	align-content: center;
	width: 250px;
	padding: 20px;
}
.secondary_header {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #ebebeb;
	clear: left;
	margin-right: 10px;
	margin-top: 10px;
	margin-left: 10px;
}
.section {
	float: left;
	width: 495px;
	text-align: center;
	background-color: #ffffff;
	padding: 10px;
	border: 10px;
	border-color: #dddddd;
	clear: both;
	margin-top: 10px;
	margin-bottom: 10px;
}
.aside {
	float: right;
	width: 270px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	background-color:#ebebeb;
	padding: 15px;
}
.article {
	background-color: #777;
	text-align: center;
	margin: 10px;
	border: 10px solid;
	border-color: #777;
}
.sub_article {
	background-color: #ebebeb;
	text-align: center;
	margin: 10px;
	padding: 10px;
}
.footer {
	text-align: center;
	clear: both;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
	background-color: #666666;
}
#links {
float: right;
  text-align: center;
	padding-top: 20px;
}

p {
	color:#777777;
}

h1 {
	font-size: 50px;
	}

